---
import { ViewTransitions } from 'astro:transitions';
import '../base.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description = 'Gestioná tus turnos de forma profesional. turni.pro es la plataforma que tu negocio necesita.' } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title} | turni.pro</title>
		
		<ViewTransitions />
	</head>
	<body class="bg-white">
		<slot />
	</body>
</html>

